$flat-black = #141414
$flat-white = #f9f9f9

$darker-grey = #1b1b1b
$dark-grey = #2b2b2b
$medium-grey = #424242
// $light-grey = #a9a9a9
$light-grey = #888888

$primary-blue = #53c0dd

$primary-pink = #eab5c7
$light-pink = #fcc6d8