/* Utility */

.full 
  width: 100%

.flex-col {
  display: flex
  flex-direction: column
}

.grey {
  color: $light-grey
}

.v-align-p {
    position: absolute
    top: 50%
    transform: translateY(-50%)
}