@import '../../variables/color.styl'

.group--join--container {
  height: 85%
}


.group--form {
  position: relative
  width: 100%
  max-width: 450px
  margin: 0 auto
}

.group--form--inputs {
  border: 1px solid $medium-grey
  border-radius: 5px
  padding: 1.5em 1em  
}

.group--join--desc {
  text-align: center
  margin: 2em 0
}

.group--form--actions {
  
  position: relative
  padding: .5em 0 

  & > button:first-child {
    // position: absolute
    margin-right: 1em
  }
}

.group--cancel--btn {
  display: block
  margin: .5rem 1rem 0 auto
}

