@import '../../variables/color.styl'

.dash--container {
  max-width: 800px;
  height: 80vh;
  max-height: 650px;
  margin: 0 auto;
  display: flex;
}

.dash--left {
  width: 25%;
  background: $flat-black
  border-radius: 5px 0 0 5px
}

.dash--right { 
  width: 75%
  margin-left: 1rem
  background: $flat-black
  border-radius: 0 5px 5px 0
}
