@import '../../variables/color.styl'

.todo--container {
  display: flex
  flex-direction: column
  height: 85%
  padding: 0 1em
}

.todo--header {
  text-align: center
  border-bottom: 1px solid $primary-pink
  border-top: 1px solid $primary-pink
  padding: .25em 0
}

.todo--filters {
  padding: .5em 0
  border-bottom: 1px solid $primary-pink
  vertical-align: middle
}

.todo--filters  > li {
  display: inline-block
  margin: 0 .5em
  vertical-align: middle;
}

.todo--filter > button {
  padding: .25em 1em
  font-weight: bold
  transition: all 150ms ease-in-out
  
  &.active, &.active:hover {
    background: $primary-pink
    color: $flat-black
    border-color: $primary-pink
  }
  
}


.todo--list {
  height: 100%
  border-bottom: 1px solid $primary-pink
  overflow-y: auto
}


.todo--add {
  text-align: right
}




.todo--add--btn, 
.todo--cancel--btn {
  padding: .75em 3em
  margin: 1em
  font-size: .9rem
  
  &::before {
    font-weight: 400
  }
  
}

.todo--list {
  height: 100%
  overflow-y: auto
}

.todo--item {
  padding: 1em 
  border-bottom: 1px solid $dark-grey
  position: relative
  overflow: hidden;
}

.todo--complete--btn {
  display: inline-block
  vertical-align: middle
}

.todo--meta {
  display: inline-block
  vertical-align: middle
  padding-left: 1em
  width: 60%;
  // white-space: nowrap
  // text-overflow: ellipsis
  // overflow: hidden
}

// .todo--title {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }

.todo--request {
  display: block
}

.todo--options {
  position: absolute
  right: 1em
  top: 50%
  transform: translateY(-50%)
}

.todo--btn--edit, .todo--btn--save {
  margin-right: .75em
}

.todo--btn--save {
  margin-left: .75em
}

.todo--btn--edit::before {
  font-family: FontAwesome
  content: '\f040\00a0'
}

.todo--btn--delete::before {
  font-family: FontAwesome
  content: '\f00d\00a0'
}

.todo--btn--save::before{
  font-family: FontAwesome
  content: '\f0c7\00a0'
}

.add--btn::before {
  font-family: FontAwesome
  content: '\f196\00a0'
}

.btn--cancel::before {
  font-family: FontAwesome
  content: '\f05e\00a0'
}

.todo--input--edit {
  margin-bottom: .5em
  font-style: italic
}

.todo--create--actions {
  text-align: right
  width: 100%
  position: relative
  bottom: -1px
  right: 0
}

.todo--form {
  position: relative
  height: 100%
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  // padding-bottom: 68px;
}

.todo--create--input {
  flex-grow: 2
}